<div id="alumnos" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Alumnos
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Buscar Alumno">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button [routerLink]="'/apps/e-commerce/products/new'"
                class="add-product-button fuse-white mt-24 mt-md-0">
                <span>Agregar Nuevo Alumno</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="alumnos-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
                fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="numero">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
                    <mat-cell *matCellDef="let alumnos; let i = index">
                        <p class=" text-truncate">{{i + 1}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="imagen">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let alumnos">
                        <img *ngIf="alumnos.alumnoImage" class="alumnos-image" [src]="url+alumnos.alumnoImage.filename">
                        <img class="alumnos-image" *ngIf="!alumnos.alumnoImage"
                            [src]="'assets/images/alumnos/sin_imagen.jpg'">
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre y Apellido</mat-header-cell>
                    <mat-cell *matCellDef="let alumnos">
                        <p class="text-truncate">{{alumnos.apellido}} {{alumnos.nombre}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="documento">
                    <mat-header-cell *matHeaderCellDef fxHide mat-sort-header fxShow.gt-md>DNI</mat-header-cell>
                    <mat-cell *matCellDef="let alumnos" fxHide fxShow.gt-md>
                        <p class="category text-truncate">
                            {{alumnos.documento}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="activo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Activo</mat-header-cell>
                    <mat-cell *matCellDef="let alumnos" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="alumnos.activo" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="!alumnos.activo" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let alumnos; columns: displayedColumns;" class="alumnos" matRipple
                    [routerLink]="'/apps/e-commerce/products/'+alumnos._id+'/'+alumnos.handle">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->

    </div>
</div>